/* body - mise en page du site*/
body{
    font-family: 'Raleway';
    background-color: white;
    width: 100%;
}
a{
    text-decoration: none;                
    color: #0065FC;
    font-style: normal;
    
}



a:hover{
    text-decoration: none;
    color: violet;
    font-weight: bold; 
    
}

a:active{
    background-color: red;
   
}


.nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0px;
    
  
 
}

nav ul{
    list-style-type: none;
    display: flex;
    width: 300px;
}

nav ul li{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    font-weight: bold;
    padding: 10px;
    
}

nav a{
    display: block;
    text-decoration: none
    
}

.logo{
    padding:10px;   

}

.img_logo{
    width: 100px;
    margin: auto;
}

.search-bar{
    font-size: 20px;
}

/*barre de recherche*/

.titre{
    font-weight: bold;
}

.research{
    display: flex;
    width: 400px;
    border-radius: 15px;
    padding-top: 10px;   
}

.research-icons{
    height: 50px;
    width: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    color: black;

    
}

.research-bar{
    height: 50px;
    width: 200px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border: none;  
    border-radius: 0 10px 0 10px;
}

.research-button{
    height: 50px;
    width: 120px;
    border: none;
    background-color: #0065FC;
    display: flex;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    justify-content: center;
    font-weight: bold;
}

/*Filtres*/

.menu-filtre{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.titre-filtre{
    margin-right: 20px;
}

.filtre-icons{
    border: 2px solid black;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    justify-content: space-between;
    display: flex;
      
}

.icons{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: #0065FC;
    background-color: #deebff;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.txt-icons{
    display: flex;    
    justify-content: space-between;
    padding: 15px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;   
}
/* informations*/

.info-para{
    padding-top: 10px;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.information{
    color: white;
    background-color:#0065FC;
    border-radius: 10px 10px 10px 10px;
    display:flex;
    justify-content: center;
    align-items:center
}

.txt-info{
    padding: 10px;
    
}